html{width: 100%;}
body{
    margin: 0 auto;
    padding: 0;
    
}
header{
    width: 100%;
    height:100px;
    background-color: #F9FFD5;
    border-style: solid;
}

.my{float: left; text-align: left;}
.love{float: right; text-align: right;}
a{text-decoration-line: none; color: black; display: inline-block; margin: 10px;}
a:hover{text-decoration-line: underline;}

main{
    width: 100%;
    text-align: center;
}

.img > img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border-style: solid;
}
.img{
    width: fit-content;
    margin: 20px auto;
}
h5{
    line-height: 1px;
}
.insta{
    color: black;
    font-weight: 600;
    background-color: lightpink;
}
.link{
    width: fit-content;
    margin: 20px auto;
}